<footer class="footer-main">
  <a (click)="gotoTop()" class="btn btn-to-top">{{ 'back_to_top' | translate }}</a>
  <div class="footer-main-social">
    <ul class="social-list">
      <li>
        <a href="http://www.facebook.com/foxsportsla" target="_blank">
          <fa name='facebook' size="1"></fa>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/FOXSportsArg" target="_blank">
          <fa name="twitter" size="1"></fa>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-main-copyright">
    <p>{{ 'trademark_notice' | translate }}</p>
    <p>{{ 'site_usage' | translate }}
      <a href="https://www.foxsports.com.ar/terms-of-use" target="_blank">
        {{ 'terms_of_use' | translate }}
      </a>
      <a href="https://www.foxsports.com.ar/whats-new/" target="_blank">
        {{ 'whats_new' | translate }}
      </a>
      {{ 'and' | translate }}
      <a href="https://www.foxsports.com.ar/privacy/" target="_blank">
        {{ 'privacy' | translate }}
      </a>
    </p>
    <div class="footer-separator"></div>
    <ul>
      <li>
        <a href="http://www.foxsports.com.br/publicidad/">{{ 'advertise' | translate }}</a>
      </li>
      <li>
        <a href="https://www.foxsports.com.ar/ad-choices" target="_blank">{{ 'add_choices' | translate }}</a>
      </li>
      <li>
        <a href="https://www.foxsports.com.ar/privacy" target="_blank">{{ 'privacy' | translate }}</a>
      </li>
      <li>
        <a href="https://www.foxsports.com.ar/terms-of-use" target="_blank">{{ 'terms_of_use' | translate }}</a>
        <a href="https://www.foxsports.com.ar/whats-new/" target="_blank">{{ 'whats_new' | translate }}</a>
      </li>
    </ul>
  </div>
</footer>
