.menu {
    height: 46px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    margin-bottom:20px;
 }
 .burger-menu{
     margin-right:10px;
 }
 .account-menu{
     float:right;
     margin-top:10px;
     width: 20px;
     height: 20px;
 }