@import "../../../../_variables.scss";

$streaming-background: #1d1d1d;

:host {
  color: white;
  background-color: $streaming-background;

  .streaming-banner {
    margin: 10px 0;
  }

  .error-indicator {
    color: #FFFFFF;
    background-color: #0078D7;
    padding: 10px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;

    & > span {
      width: 95%;
    }
    & > fa {
      width: 4%;
      text-align: right;
    }
  }

  .streaming-player {
    padding-top: 5px;
    margin: 10px 20px 0 0;

    &.placeholder {
      h5 {
        visibility: hidden;
      }
      .player-placeholder {
        background-color: #393939;
      }
    }

    h5 {
      font-size: 21px;
      line-height: 24px;
    }

    .player-placeholder {
      background: #000000;
      height: 395px;
      width: 702px;
    }
  }

  > section > div.row {
    padding-bottom: 15px;
  }

  .channels-info {
    margin-top: 15px;
    width: 300px;

    &-header {
      height: 17px;
      margin: 5px 0 10px 0;
      display: block;
      width: 100%;
      font-size: $size-18;
      line-height: $size-17;

      & a {
        margin-top: 2px;
        float: right;
        font-size: $size-11;
        font-weight: 500;
        line-height: $size-15;
        text-align: right;
        text-transform: uppercase;

        &:hover {
          color: #008aff;
        }
      }
    }

    /* SCROLLBARS STYLES */
    /deep/ perfect-scrollbar.ps-container > .ps-scrollbar-y-rail {
      width: 5px;
      background: #000;

      .ps-scrollbar-y {
        background-color: #3e3e3e;
        border-radius: 0;
        right: 0;
        width: 5px;
      }
    }
    /* END SCROLBARS STYLES */

    .channel-list {
      overflow-y: auto;
      overflow-x: hidden;
      height: 395px;

      /deep/ fox-single-event .thumbnail-container {
        height: 160px;
        min-height: 160px;
      }

      .placeholders {
        height: 100%;
        .event-placeholder {
          margin-bottom: 2px;
          background-color: #393939;
          height: 175px;
        }
      }

      .img-row{
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);

        img {
          width: 100%;
        }
      }

      &-info {
        position: relative;
        top: -40px;
        padding-left: 15px;

        & > div {
          font-size: 15px;
          line-height: 17px;
        }

        & > a {
          font-size: 11px;
          font-weight: 500;
          line-height: 19px;
          text-transform: uppercase;
        }
      }
    }
  }
}
@media (max-width: 1142px) {
  .streaming-player {
    margin: 10px auto 0 !important;
  }
  .channels-info {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1299px) {
  :host section.container{
    width: 1024px !important;
  }
}
@media (min-width: 1300px) {
  :host .channel-list {
    height: 531px !important;
  }
}
@media (min-width: 1299px) {
  :host .streaming-player .player-placeholder {
    height: 531px;
    width: 945px;
  }
}
