.container-news-item{
     border: solid 1px #e4e4e4;
      width: 320px;
  height: 266px;
}

.image-news-item{
  width: 286px;
  height: 160px;
  margin: 0px 0px 15px 0px;
}
h1{
  width: 298px;
  height: 40px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
  margin-bottom:20px;
}

.hour-news-item{
  width: 63px;
  height: 12px;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  float: right;
  color: #666666;
}

.tag-news-item {
    width: 83px;
    height: 12px;
    font-family: Helvetica;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #2592ff;
    float:left;
     text-transform: uppercase
  }