
<article class="container" *ngIf="data">
    <a href="#" class="tag-news-item">{{data.tagName}}</a>
    <h1 href="#" class="title-news-item">{{data.title}}</h1>
    <img [src]="data.pictureUrl" class="image-news-item" alt="{{data.title}}">
    <div class="social">
        <img src="../../../assets/facebook.png" alt="facebook image">
        <img src="../../../assets/twitter.png" alt="twitter image">
        <img src="../../../assets/menu.png" alt="menu image">
    </div>
    <span class="hour">por</span> <span class="autor">Silvio Salverino</span><br/>
    <a href="#" class="hour">{{data.date | date : 'dd/mm/yyyy' }}</a>
    <div class="description">
        {{data.description}}
    </div>

    <ngx-json-ld [json]="schema"></ngx-json-ld>
</article>